/* stylelint-enable */
/* 重置样式 */
* {
  -webkit-tap-highlight-color: transparent;
  outline: 0; }

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

img {
  border: 0 none;
  vertical-align: top; }

i, em {
  font-style: normal; }

ol, ul {
  list-style: none; }

input, select, button, h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:visited {
  text-decoration: none;
  color: #333; }

body {
  margin: 0 auto;
  font-family: -apple-system,Helvetica,sans-serif;
  -webkit-text-size-adjust: 100% !important;
}

html {
  background-color: #efeff4;
}

a,
button,
input,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input::-webkit-input-placeholder {
  color: #ccc;
}
input:focus::-webkit-input-placeholder {
  color: #ccc;
}

.wepay-form {
  background-color: #efeff4;
  h4 {
    font-size: 24 * 0.05rem;
    height: 88 * 0.05rem;
    line-height: 88 * 0.05rem;
    font-weight: normal;
    text-indent: 25 * 0.05rem;
  }
}
.base-info,
.my-address {
  border-top: 1 * 0.05rem solid #ccc;
}
.info {
  position: relative;
  font-size: 32 * 0.05rem;
  height: 90 * 0.05rem;
  line-height: 90 * 0.05rem;
  background-color: #fff;
  border-bottom: 1 * 0.05rem solid #ccc;
  select::-ms-expand {
    display: none;
  }
  select {
    position: relative;
    height: 88 * 0.05rem;
    border: none;
    font-size: 32 * 0.05rem;
    vertical-align: top;
    margin-right: 35 * 0.05rem;
    -webkit-appearance: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url('http://ourjs.github.io/static/2015/arrow.png');
    background-position: right center;
    padding-right: 28 * 0.05rem;
  }
  input {
    vertical-align: top;
    height: 88 * 0.05rem;
    font-size: 32 * 0.05rem;
    color: #333;
    border: none;
    background-color: #fff;
  }
  /*----------用来移除向下箭头----------*/
  input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
  }

  /*----------用来移除叉叉按钮----------*/
  input[type='date']::-webkit-clear-button {
    display: none;
  }
  .icon {
    position: absolute;
    top: 24 * 0.05rem;
    right: 10 * 0.05rem;
    padding: 20 * 0.05rem;
    &::before {
      content: '';
      position: absolute;
      top: 10 * 0.05rem;
      left: 10 * 0.05rem;
      display: inline-block;
      width: 5 * 0.05rem;
      height: 17 * 0.05rem;
      transform: rotate(-45deg);
      background-color: #ccc;
    }
    &::after {
      position: absolute;
      left: 10 * 0.05rem;
      top: 19 * 0.05rem;
      content: '';
      display: inline-block;
      width: 5 * 0.05rem;
      height: 17 * 0.05rem;
      transform: rotate(45deg);
      background-color: #ccc;
    }
  }
}
.card-number input{
  width: 14rem;
}
.name input{
  width: 19rem;
}
.birth, .valid {
  input{
    width: 19rem;
  }
}
.location input{
  width: 19rem;
}
.option {
  display: inline-block;
  width: 214 * 0.05rem;
  text-indent: 25 * 0.05rem;
  .num {
    font-size: 20 * 0.05rem;
  }
}
.my-address {
  margin-top: 40 * 0.05rem;
}

.show-detail {
  margin-top: 52 * 0.05rem;
  font-size: 24 * 0.05rem;
  .hongkong,
  .macao {
    display: inline-block;
    font-size: 24 * 0.05rem;
    line-height: 40 * 0.05rem;
    .times {
      color: #ccc;
    }
  }
  .hongkong {
    margin-left: 25 * 0.05rem;
  }
  .macao {
    margin-left: 40 * 0.05rem;
  }
  .fee {
    margin-left: 25 * 0.05rem;
    line-height: 40 * 0.05rem;
    .price {
      color: #ff6633;
      font-weight: bold;
    }
    .detail {
      margin-left: 15 * 0.05rem;
    }
  }
}
.pay-methods {
  margin-top: 35 * 0.05rem;
  text-align: center;
  .wepay {
    position: relative;
    display: block;
    margin: 0 auto;
    background-color: #266ace;
    font-size: 36 * 0.05rem;
    border: 1 * 0.05rem solid rgb(18, 83, 182);
    width: calc(100% - 48 * 0.05rem);
    height: 80 * 0.05rem;
    color: #fff;
    border-radius: 10 * 0.05rem;
  }
  .back {
    position: absolute;
    top: -30 * 0.05rem;
    left: calc(50% + 75 * 0.05rem);
    background-color: #fe7248;
    color: #fff;
    border-radius: 5 * 0.05rem;
    font-size: 24 * 0.05rem;
    width: 83 * 0.05rem;
    height: 40 * 0.05rem;
    line-height: 40 * 0.05rem;
    &::before {
      position: absolute;
      left: 0;
      bottom: -10 * 0.05rem;
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      overflow: hidden;
      font-size: 0;
      border-width: 10 * 0.05rem;
      border-color: transparent transparent transparent #fe7248;
      border-style: dashed dashed dashed solid;
    }
  }
  .tips {
    margin-top: -8 * 0.05rem;
    color: #8daddc;
    font-size: 20 * 0.05rem;
  }
  .cash {
    font-size: 24 * 0.05rem;
    padding: 20 * 0.05rem 100 * 0.05rem;
    margin-top: 10 * 0.05rem;
    border-radius: 10 * 0.05rem;
    color: #266ace;
    border: none;
    background-color: #efeff4;
  }
}


@media screen and (max-width: 320px) {
  html {
    font-size: 10px; } }
@media screen and (min-width: 360px) and (max-width: 374px) {
  html {
    font-size: 11.72875px; } }
@media screen and (min-width: 375px) and (max-width: 383px) {
  html {
    font-size: 12px; } }
@media screen and (min-width: 384px) and (max-width: 399px) {
  html {
    font-size: 12.5px; } }
@media screen and (min-width: 400px) and (max-width: 413px) {
  html {
    font-size: 12.9375px; } }
@media screen and (min-width: 414px) and (max-width: 423px) {
  html {
    font-size: 13.5px; } }
@media screen and (min-width: 424px) and (max-width: 479px) {
  html {
    font-size: 15px; } }
@media screen and (min-width: 480px) and (max-width: 539px) {
  html {
    font-size: 16.875px; } }
@media screen and (min-width: 540px) and (max-width: 599px) {
  html {
    font-size: 18.75px; } }
@media screen and (min-width: 600px) and (max-width: 639px) {
  html {
    font-size: 20px; } }
@media screen and (min-width: 640px) and (max-width: 719px) {
  html {
    font-size: 22.5px; } }
@media screen and (min-width: 720px) {
  html {
    font-size: 25px; } }
